.header{
  margin-top: 40px;
}

.header-titles{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
  color: rgba(220, 93, 20, 0.849);
}

.header-titles-small{
    position: absolute;
    top: 13%;
    font-size: 24px;
}

.header-titles-big{
    position: absolute;
    top: 14.8%;
    font-size: 100px;
}

.header-img{
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}